[submodule "generators/app/templates/fullWidgetBoilerplate"]
	path = generators/app/templates/fullWidgetBoilerplate
	url = https://github.com/jseremba/fullWidgetBoilerplate
[submodule "generators/app/templates/emptyWidgetBoilerplate"]
	path = generators/app/templates/emptyWidgetBoilerplate
	url = https://github.com/jseremba/emptyWidgetBoilerplate
